<div class="mt-4 d-flex flex-column">
  <button
    class="btn btn-lg p-3 mx-auto"
    [ngClass]="portState == 'open' ? 'btn-danger' : 'btn-success'"
    (click)="refresh()"
  >
    <ng-container *ngIf="loading"
      ><hc-loading></hc-loading> Hämtar...</ng-container
    >
    <ng-container *ngIf="portState == 'open' && !loading"
      >Porten är öppen</ng-container
    >
    <ng-container *ngIf="portState == 'closed' && !loading"
      >Garageporten är stängd</ng-container
    >
  </button>

  <button
    class="btn btn-success btn-lg p-4 mx-auto mt-4"
    (click)="togglePort()"
  >
    <span class="material-icons d-block" style="font-size: 60px">garage</span>
    <span> Öppna/stäng port</span>
  </button>
</div>
