################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Site/bin/Debug/netcoreapp1.0
/Site/obj/Debug/netcoreapp1.0
/Site/Site.xproj.user
/.vs/HomeControl/v14/.suo
/.vs
