################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Site/bin
/Site/obj
/Site/Site.xproj.user
/.vs/HomeControl/v14/.suo
/.vs
/Site/config/secrets.json
/Site/Properties/PublishProfiles
